[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
python-dotenv = "*"
requests = "*"
uvicorn = "*"
python-multipart = "*"
pytest = "*"
httpx = "*"
gunicorn = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
